body {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Usa toda la altura visible de la pantalla */
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000; /* Color de fondo */
    color: #333; /* Color de texto principal */
}

.container {
    text-align: center;
    width: 90%;
    max-width: 400px;
    position: relative; /* Importante para el posicionamiento relativo */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px; /* Espacio entre botones */
    position: absolute; /* Posición absoluta para mantenerlo fijo */
    left: 50%; /* Centrado horizontal */
    transform: translateX(-50%); /* Centrado horizontal */
}

button:hover {
    background-color: #0056b3;
}

#cardContainer {
    margin-top: 20px;
}

#card {
    display: flex;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.6s ease-in-out, box-shadow 0.3s;
    width: 100%;
    box-sizing: border-box;
}

.card-half {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

#theme1Container {
    background-color: #ff4d4d; /* Rojo */
    border-right: 1px solid #333;
}

#theme2Container {
    background-color: #4da6ff; /* Celeste */
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.spin {
    animation: spin 0.6s ease-in-out;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#fullscreenButton {
    position: absolute;
    margin-top: 350px;
    bottom: -250px;
    right: -250px;
}
